body{ margin: 5%;
    background-color: black;
color:white;
text-align: center;
}
h1{background-color: rgb(83, 136, 92);
}
h2{background-color: rgb(108, 91, 124);
    
}
pre{
   background-color: lightcoral;

} 