
#d01{
    background-color: red;
    color: aliceblue;
    text-align: center;
    width: 1fr; height: 140px;
    padding-top: 60px;
    font-size: 50px;
}

#d02{
    background-color: yellow;
    color: aliceblue;
    text-align: center;
    width: 1fr; height: 200px;
}

#d03{
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 1fr; height: 200px;
}

#d04{
    background-color: green;
    color: aliceblue;
    text-align: center;
    width: 1fr; height: 200px;
}
