#div1{ 

    background-color: aqua;
    height: 200px;
    width: 600px; ;
}

#div2{

    background-color: aqua;
    height: 300px;
     width: 600px;
}

#div3{
    
    background-color: aqua;
    height: 250px;
    width: 590px;
}

#div4{
    
    background-color: aquamarine;
    height: 200px;
    width: 700px;
}
