#div1{ 
    background-color: red;
    height: 200px;
    width: 600px; ;
}

#div2{
background-color: yellow;
    height: 300px;
     width: 600px;
}

#div3{

    background-color: black;
    height: 250px;
    width: 590px;
}

#div4{
    
    background-color: green;
    height: 200px;
    width: 700px;
}

